<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="produit.css">
    <title>Fromagerie de Saint-Marc</title>
</head>
<body>
    <div class="haut">
    <div class="image-container"></div>
        <header>
            <a href="main.html">Accueil</a>
        </header>
    <h1>Les produits que nous proposons</h1>
    <p class="encadre">En venant dans notre boutique, attendez-vous à ne pas seulement trouver
        du fromage mais également des produits locaux produits par des producteurs 
        partenaires des alentours. La Fromagerie Saint Marc promeut également
        le commerce de proximité. Notre boutique divise ses produits en 6 rayons
        différents.
    </p>
    <div class="img-container"></div>
    <div class="salee">
        <img src="img/sale.png" alt="Une belle image" class="image">
        <div class="text-overlay">Rayon salé</div>
        
        <div class="cadre encadre">
            <h4>Notre rayon salé vous propose de venir déguster des gâteaux que vous pourriez 
                entreposer lors de vos apéros ou encore de vos fêtes entre collègues ou amis.
            </h4>
        </div>
    </div>
    <div class="sucree">
        <img src="img/rayon_artisanal.png" alt="Une belle image" class="image">
        <div class="text-overlay">Rayon sucré</div>
        <div class="cadre encadre">
            <h4>Venez découvrir nos petites douceurs, en commençant par nos guimauves. 
                Sans oublier les produits frais que nous proposons comme des glaces artisanales 
                ou des desserts faits avec passion se trouvant dans les frigo situé en face.
            </h4>
        </div>
    </div>
    <div class="mer">
        <img src="img/mer.png" alt="Une belle image" class="image">
        <div class="text-overlay">Rayon mer</div>
        <div class="cadre encadre">
            <h4>Située à moins de 10 km de la mer, nous vous promettons de vous faire déguster des espèces
                provenant de la mer et non d'élevage situées non loin de là. Il ne vous reste plus qu'à goûter 
                pour vous faire votre avis. 
            </h4>
        </div>
    </div>
    <div class="fermier">
        <img src="img/royon_mer.png" alt="Une belle image" class="image">
        <div class="text-overlay">Rayon fermier</div>
        <div class="cadre encadre">
            <h4>Malgré le fait que la mer se situe non loin d'ici, n'oubliez pas les producteurs fermiers 
                avec leurs animaux élevés en plein air. Nourris avec l'ambiance de la Bretagne, 
                une ambiance calme, douce et surtout pleine d'amour, comme nous.
            </h4>
        </div>
    </div>
    <div class="terre">
        <img src="img/ferme.png" alt="Une belle image" class="image">
        <div class="text-overlay">Rayon terre</div>
        <div class="cadre encadre">
            <h4>Le terroir n'est pas négligé, nous vous proposons de multiples produits 
                comme des soupes ou des assortiments de produits bio que vous pourrez apprécier à tout moment.</h4>
        </div>
    </div>
    <div class="boissons">
        <img src="img/boisson_sans_alcool.png" alt="Une belle image" class="image">
        <div class="text-overlay">Les boissons</div>
        <div class="cadre encadre">
            <h4>En plus de cela, nous disposons de diverses variétés de boissons
                alcoolisées ou sucrées. En commençant classiquement avec différents
                types de vins, en passant par diverses variétés de sirops
                pour finir sur des extraits de gingembre originaux. 
            </h4>
        </div>
    </div>
    <footer>Merci d'avance de votre passage en magasin</footer>
</body>
</html>